#libs
/node_modules
/bower_components
/Gemfile.lock
/vendor/bundle

#build directories
/src/public/_dandylion
_dist/
src/public/styles/core/theme
js/bundle.js

#artifacts
/build
/.tmp
/.sass-cache
npm-debug.log
/deployment
d/

cucumber.txt
cucumberjs.html
/deployment
out.html
/artifacts
newrelic_agent.log

dist.zip

#editor
/.idea
*.swo
*.swp
*.log

/reports
/coverage
